 <!-- 1 nome da classe,2 cor da fonte, 3 cor do fundo-->
 <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand"   href="/">
        <img src="/img/guia.png"  height="15px" width="15px" alt="">
    </a>
</nav>